body {
    width: 1000px;
    background-color: #424242;
    margin: 0 auto;
    text-align: center;
    font-family: "Helvetica", Georgia, Serif;
}

p {
    line-height: 4em;
}

h3 {
    padding-bottom: 1em;
}

button {
    padding: 1.6em;
    background-color: #448bff;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 6px;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.container {
    background-color: #EFEFEF;
    margin-top: 4em;
    padding: 1em 2em 2em 2em;
    border-radius: 30px;
}

input[type=text] {
    padding: 0.6em;
    margin-bottom: 0.6em;
}

.success {
    color: green;
    padding-top: 1em;
}

.hidden {
    display: none;
}